<template name="edit_followers">
  <div class="row pt-5">
    <div class="col-md-2">
      Followers
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-8">
          {{> follower_form }}
        </div>
        <div class="col-4">
          <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
        </div>
      </div>
    </div>
  </div>
</template>
