<template name="dashboard_navigation">
  <div class="navbar navbar-expand-lg navbar-dark bg-dark-gradient">
    <div class="collapse navbar-collapse">
      {{#if currentUser}}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="{{pathFor 'dashboard'}}" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item">
          <a href="{{pathFor 'dashboard.draft'}}" class="btn btn-link nav-link">Drafts <span class="badge badge-light">{{getDraftCount}}</span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button type="button" class="btn btn-dark k js-new-date ml-auto">New Date</button>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{getProfileFirstName}}
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{{pathFor 'settings'}}"><i class="fa fa-cog fa-fw"></i> Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{pathFor 'App.logout'}}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </div>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</template>
