<template name="changePassword">
  <form id="update-password">
  {{#if changePasswordError}}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> {{changePasswordError}}. <button class="btn btn-link alert-link js-reset-password">Reset my password</button>
    </div>
  {{/if}}
  <div class="form-row">
    <div class="form-group col-8">
      <label for="currentPassword">Current Password</label>
      <input type="password" name="currentPassword" class="form-control" id="currentPassword" aria-describedby="passwordHelp" placeholder="Current Password">
      <small id="passwordHelp" class="form-text text-muted">If you've forgotten your current password, <a href="" class="js-reset-password">you'll need to reset it.</a></small>
    </div>
  </div>
  {{#if passwordsDontMatch}}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Your new passwords do not match.
    </div>
  {{/if}}
  <div class="form-row">
    <div class="form-group col-6">
      <label for="newPassword">New Password</label>
      <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="New Password">
    </div>
    <div class="form-group col-6">
      <label for="confirmNewPassword">Confirm New Password</label>
      <input type="password" name="confirmPassword" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password">
    </div>
  </div>
  <button type="submit" class="ui primary button">Change Password</button>
</form>
</template>
