<template name="App_signup">
  <div class="d-flex flex-column justify-content-center h-100 align-items-center">
    <h4 class="mb-5 text-light">Sign Up</h4>
    <div class="signup-wrapper">


      <form class="js-submit mt-3">
        <div class="form-row">
          <div class="col-6">
            <input type="text" name="firstName" class="w-100 mb-3">
          </div>
          <div class="col-6">
            <input type="text" name="lastName" class="w-100 mb-3">
          </div>
        </div>


        <input type="email" name="email" class="w-100 mb-3">
        <input type="password" name="password" class="w-100 mb-3">
        <button type="submit">Submit</button>
      </form>
      <div class="or-wrapper position-relative">
        <p class="lead text-center m-0 or"><span class="text-uppercase text-muted">or</span></p>
        <hr class="position-absolute w-100 m-0 or-divider">
      </div>
      <button class="facebook-btn js-loginFacebook mt-4"><i class="fa fa-facebook-official" aria-hidden="true"></i> Continue with Facebook</button>
      <small class="form-text text-muted">
        We don't post to Facebook
      </small>
    </div>
  </div>


</template>
