<template name="hero">
  <header>
   <div class="header">
   </div>
 </header>
 <div class="container highlights">
   <div class="row hero">
     <div class="col-lg-6">
      <img class="iphone-x" src="img/IPhone_X_vector.svg" alt="">
     </div>
     <div class="col-lg-6">
       <h1 class="display-4 hero-text">A Location Tracking App for People Meeting People</h1>
       <a href="{{pathFor 'App.signup'}}" class="start-trial-button">Try it Free</a>
       <div class="homepage-trial-tag font-weight-light">Free for 30 days - $7.99 per month after</div>
     </div>
   </div>
   <div class="row justify-content-center homepage-row mb-5">
     <div class="col-9">
       <h1 class="font-heavy mt-4 text-center">How it works</h1>
       <ol class="ol-homepage">
         <li class="py-3">
           <p class="d-inline-block lead">You create a new job</p>
           <p class="text-secondary">Add details about the appointment, like who you're meeting, where, when, and who should recieve real time alerts</p>
         </li>
         <li class="py-3">
           <p class="d-inline-block lead">Add your own followers</p>
           <p class="text-secondary">Your followers will recieve alerts by email or text message, you decide. Alerts are sent out when you add them, when the appointment begins and ends, and if you check in.</p>
         </li>
         <li class="py-3">
           <p class="d-inline-block lead">Go out and meet people</p>
           <p class="text-secondary">Don't worry, who you're meeting is kept private from your followers, unless your appointment ends at a time you set before you check in.</p>
         </li>
       </ol>
     </div>
   </div>
  </div>
  <div class="dark-container-wrapper">
  <div class="container">
   <div class="row marketing-items">
     <div class="card-deck mb-3">
       <div class="card bg-light-purple text-center">
         <div class="card-body">
           {{> devices_svg }}
            <h2 class="card-title font-heavy text-white">Works on All Devices</h2>
            <p class="card-text text-light">Works on all internet connected devices that have a web browser.</p>
         </div>
       </div>
       <div class="card bg-light-purple text-center">
         <div class="card-body">
            {{> alerts_svg }}
           <h2 class="card-title font-heavy text-white">Alerts on Auto, Sent to Peers</h2>
           <p class="card-text text-light">Schedule notifications and alerts to be sent based on a time you set, or by manually starting or ending an appoitment, or checking in.</p>
         </div>
       </div>
      </div>
      <div class="card-deck">
        <div class="card bg-light-purple text-center">
          <div class="card-body">
            {{> peers_svg }}
            <h2 class="card-title font-heavy text-white">You Control Who You Send Alerts To</h2>
            <p class="card-text text-light">For each appointment, you pick who you send alerts to for that appointment. You can add or remove peers at anytime.</p>
          </div>
        </div>
        <div class="card bg-light-purple text-center">
          <div class="card-body">
            {{> updates_svg }}
            <h2 class="card-title font-heavy text-white">Updates in Near Real Time</h2>
            <p class="card-text text-light">No page refreshes, or delayed interval updates. Information updates live on your display in near real time</p>
          </div>
        </div>
      </div>
   </div>
   <div class="row py-5">
     <div class="col-6">
        <h2 class="text-white font-heavy mb-0">Be Up and Running in <u>Minutes</u></h2>
      </div>
      <div class="col-6">
        <a href="{{pathFor 'App.signup'}}" class="start-trial-button">Try it Free</a>
        <div class="homepage-trial-tag font-weight-light">Free for 30 days - $7.99 per month after</div>
      </div>
    </div>
  </div>
 </div>
 <div class="darker-container-wrapper">
   <div class="container">
     <div class="row pt-5 pb-3">
        <ul class="nav justify-content-end text-light">
            <li class="nav-item">
              <a class="nav-link text-light" href="{{pathFor 'App.signup'}}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{{pathFor 'App.login'}}">Login</a>
            </li>
          </ul>
     </div>
   </div>
 </div>
</template>
