<template name="hero">
  <header>
   <div class="header">
   </div>
 </header>
 <div class="container highlights">
   <div class="row hero">
     <div class="col-lg-6">
      <img class="iphone-x" src="img/IPhone_X_vector.svg" alt="">
     </div>
     <div class="col-lg-6">
       <h1 class="display-4 hero-text">A Location Tracking App for People Meeting People</h1>
       <a href="{{pathFor 'App.signup'}}" class="start-trial-button">Try it Free</a>
       <div class="homepage-trial-tag font-weight-light">Free for 30 days - $7.99 per month after</div>
     </div>
   </div>
   <div class="row justify-content-center homepage-row">
     <div class="col-9">
       <h1 class="font-heavy mt-4 text-center">How it works</h1>
       <ol class="ol-homepage">
         <li class="py-3">
           <p class="d-inline-block lead">You create a new job</p>
           <p class="text-secondary">Add details about the appointment, like who you're meeting, where, when, and who should recieve real time alerts</p>
         </li>
         <li class="py-3">
           <p class="d-inline-block lead">Add your own followers</p>
           <p class="text-secondary">Your followers will recieve alerts by email or text message, you decide. Alerts are sent out when you add them, when the appointment begins and ends, and if you check in.</p>
         </li>
         <li class="py-3">
           <p class="d-inline-block lead">Go out and meet people</p>
           <p class="text-secondary">Don't worry, who you're meeting is kept private from your followers, unless your appointment ends at a time you set before you check in.</p>
         </li>
       </ol>
     </div>
   </div>
  </div>
  <div class="container-fluid">
   <div class="row marketing-items">
     <div class="col-md-12 py-3" style="background: #1c1f46">
       <div class="d-flex flex-row-reverse justify-content-center">
          <img src="/img/devices.svg" class="homepage-img" alt="Works on all Devices">
          <div class="d-flex flex-column justify-content-center mr-4">
            <p class="font-weight-bold font-heavy h1 text-white">Works on all devices</p>
            <p class="text-light">Works on all internet connected devices that have a web browser.</p>
          </div>
       </div>
     </div>
     <div class="col-md-4">
       <div class="marketing-box box-orange">
         <i class="fa fa-bell-o fa-4x"></i>
       </div>
       <p class="font-weight-bold">Alerts are sent automatically to your peers</p>
       <p>Schedule notifications and alerts to be sent based on a time you set, or by manually starting or ending an appoitment, or checking in.</p>
     </div>
     <div class="col-md-4">
       <div class="marketing-box box-blue">
         <i class="fa fa-users fa-4x"></i>
       </div>
       <p class="font-weight-bold">You control who you send alerts to</p>
       <p>For each appointment, you pick who you send alerts to for that appointment. You can add or remove peers at anytime.</p>
     </div>
   </div>
   <div class="row marketing-items">
     <div class="col-md-4">
       <div class="marketing-box box-purple">
         <i class="fa fa-umbrella fa-4x" aria-hidden="true"></i>
       </div>
       <p class="font-weight-bold">Your team under one umbrella</p>
       <p>You can easily add or remove team members to your organization, under one simple billing.</p>
     </div>
     <div class="col-md-4">
       <div class="marketing-box box-pink">
         <i class="fa fa-clock-o fa-4x"></i>
       </div>
       <p class="font-weight-bold">Updates in Near Real Time</p>
       <p>No page refreshes, or delayed interval updates. Information updates live on your display in near real time</p>
     </div>
     <div class="col-md-4">
       <div class="marketing-box box-yellow">
         <i class="fa fa-tasks fa-4x"></i>
       </div>
       <p class="font-weight-bold">Create Unlimted Appointments</p>
       <p>No account upgrades, no limits on the number of appointments your team can create.</p>
     </div>
   </div>
 </div>
</template>
