<template name="places">

<div class="row">
      <div class="col-12 my-3">
        <div class="form-group">
          <label for="place">Place, Business, or Address</label>
          <input type="text" name="place" id="place" class="w-100 form-control" value="">
          <input type="hidden" name="lat" id="lat">
          <input type="hidden" name="lng" id="lng">
          <input type="hidden" name="placeName" id="placeName">
          <input type="hidden" name="formatted_address" id="formatted_address">
          <input type="hidden" name="phone" id="phone">
          <input type="hidden" name="url" id="url">
        </div>

        <div class="my-3">
          {{#with getPlace}}
          <h1>{{name}}</h1>
          <h6 class="text-muted">{{formatted_address}}</h6>
          {{#if hasPhoneNumber}}
          <i class="fa fa-phone text-primary"></i> {{formatted_phone_number}}
          {{/if}}
          {{#if hasWebsite}}
          <i class="fa fa-globe text-primary"></i> <a class="text-dark" href="{{website}}">Website</a>
          {{/if}}
        {{/with}}
      </div>
      <div id="map" style="width: 100%; height: 300px"></div>
    </div>
</div>
</template>
