<template name="setDate">

    <div class="row">

        <div class="col-6 ">
            <div class="form-group">
                <label for="start-date">Start</label>
                <input type="text" name="startDate" id="start-date" class="form-control start-date bg-white">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="end-date">End</label>
                <input type="text" name="endDate" id="end-date" class="form-control end-date bg-white">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">
                Set the start and expected end date and time. These are the times that will be used to send out notifications.
                Don't worry, you can always change them later.
            </p>
        </div>
    </div>

</template>
