<template name="setDate">

    <div class="row">

        <div class="col-6 ">
            <div class="form-group">
                <label for="start-date">Start</label>
                <input type="text" name="startDate" id="start-date" class="form-control start-date bg-white" value="2017-11-25T04:00:00.000Z">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="end-date">End</label>
                <input type="text" name="endDate" id="end-date" class="form-control end-date bg-white">
            </div>
        </div>

    </div>

</template>
