<template name="plusOne">
  <div class="card">
    <div class="card-header text-muted"><i class="fa fa-lock"></i> Your Date</div>
    <div class="card-body">
      <div class="alert alert-dark" role="alert">
        The information you provide about your date will be kept private from everyone
        unless this job expires before you close it.
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="date-name">Your Date's Name</label>
            <input type="text" name="dateName" class="form-control" id="date-name" placeholder="Your Date's Name">
          </div>
          <div class="form-group">
            <label for="date-url">Their Facebook Profile Link</label>
            <input type="url" name="dateURL" class="form-control" id="date-url" placeholder="Facebook URL">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
