<template name="subscriptionOverview">
  <div class="d-flex justify-content-between align-items-center">
      {{#if trialing}}
        <span class="badge badge-pill badge-warning"><i class="fa fa-smile-o"></i> Trialing</span>
      {{else}}
        {{#if active}}
          <span class="badge badge-pill badge-success">Active</span>
        {{else}}
          {{#if past_due}}
            <span class="badge badge-pill badge-danger">Past Due</span>
          {{/if}}
        {{/if}}
      {{/if}}
  </div>
  <div class="collapse bg-white show" id="collapse-subscription">
    {{> subscription }}
  </div>
</template>
