.dashboard-card {
  flex: 0 0 auto !important;
  margin-bottom: 30px;
}
.card-active {
  box-shadow: 0px 0px 0px 2px #5ad428;
}
.card-expired {
  box-shadow: 0px 0px 0px 2px #ef3c33;
}
@media screen and ( max-width: 1200px ) {
  .dashboard-card {
    width: calc(33% - 30px);
  }
}
@media screen and ( max-width: 992px ) {
  .dashboard-card {
    width: calc(50% - 30px);
  }
}

@media screen and ( max-width: 576px ) {
  .dashboard-card {
    width: calc(100% - 30px);
  }
}

.grid {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows:  25% 100px auto;
}

.item-b {
  grid-column-start: 1;
  grid-column-end: span col4-start;
  grid-row-start: 2;
  grid-row-end: span 2;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: repeat(4, [col] 150px ) ;
        grid-template-rows: repeat(2, [row] auto  );
        background-color: #fff;
        color: #444;
    }

    .box .box {
        background-color: #ccc;
        color: #444;
    }

    .a {
        grid-column: col / span 2;
        grid-row: row;
    }

    .b {
        grid-column: col 3 / span 2;
        grid-row: row;
    }

    .c {
        grid-column: col / span 2;
        grid-row: row 2;
    }

    .d{
        grid-column: col 3 / span 2;
        grid-row: row 2;
        display: grid;
    grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .e {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .f {
        grid-column: 1;
        grid-row: 2;
    }

    .g {
        grid-column: 2;
        grid-row: 2;
    }
