.signup-wrapper {
  width: 525px;
}

body.login-page {
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body.signup-page {
  background: #f3f7f9;
}

.signup-wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 25px;
  border: 1px solid #e0e0e0;
  border-bottom: 2px solid #d2d2d2;
}

// .js-submit input {
//   border: none;
//   background: rgba(255,255,255,0.16);
//   padding: 6px 8px;
//   border-radius: 3px;
//   box-shadow: 0px 0px 0px 1px #e4e4e48a;
//   color: #e3dbe8;
// }
.or-wrapper {
  z-index: 1;
}
.or span {
  background: #fff;
  padding: 0 20px;
}
.or-divider {
  top: 50%;
  z-index: -1;
}
.lighthouse {
  background: url(img/lighthouse.jpg);
  background-size: cover;
  height: 100vh
}

//Login form
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  & .form-signin-heading {
    margin-bottom: 10px;
  }
  & input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  & input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
