.signup-wrapper {
  width: 525px;
}

body.login-page {
  background: #9D50BB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signup-wrapper {
  background: #fff;
  border-radius: 3px;
  padding: 25px;
}

.js-submit input {
  border: none;
  background: rgba(255,255,255,0.16);
padding: 6px 8px;
border-radius: 3px;
box-shadow: 0px 0px 0px 1px #e4e4e48a;
color: #e3dbe8;
}
.or-wrapper {
  z-index: 1;
}
.or span {
  background: #fff;
  padding: 0 20px;
}
.or-divider {
  top: 50%;
  z-index: -1;
}
