.navi {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-details {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 40px;
  margin: 5px;
  transition: background-color 0.2s ease;

  & i {
    color: #fff;
    vertical-align: middle;
  }

  &:hover {
    background-color: #9c9c9c;
    border-radius: 4px;
    cursor: pointer;
  }
}

.user-profile-pic {
  border-radius: 2px;
  &.small {
    height: 20px;
    margin: 0 8px;
  }
}

.user-profile-name {
  &.in-nav {
    font-size: .8rem;
    color: #fff;
  }
}
