.places-photo-wrapper {
  overflow: hidden;
}
.place-cover-picture {
  position: absolute;
  top: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.homepage-img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 175px;
}
