.flex-grow-1 {
  flex-grow: 1;
}
.hide-overflow {
  overflow: hidden;
}
body.signup-page {
  border-top: 5px solid #7D79E5;
}
body.login-page {
  background: #7D79E5;
}

.center-loader {
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #7d79e5;
}
