<template name="resetPassword">
    <div class="container mt-5">
        <div class="col-8 m-auto">
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reset Password</h5>
                        <form id="js-password-reset-form">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Send Reset Email</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</template>