<template name="setNewPassword">
  <div class="container mt-5">
    <div class="col-8 m-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Set New Password</h5>
          <form id="js-password-reset-form">
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" name="confirmPassword" id="confirm-password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Change My Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>